<div @show-hide class="main">
  <h1 class="main__title">Gradovi</h1>
  <div class="main__add">
    <mat-form-field appearance="outline">
      <mat-label>Dodaj grad</mat-label>
      <input
        matInput
        placeholder="Ex. London"
        [(ngModel)]="inputCityName"
        (keydown.enter)="addCity()"
      />
    </mat-form-field>
    <div class="main__add-submit">
      <button mat-icon-button color="primary" (click)="addCity()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div class="main__add-submit">
      <button mat-icon-button color="primary" (click)="deleteAllCities()">
        <mat-icon>delete_sweep</mat-icon>
      </button>
    </div>
  </div>
  <div class="main__no-cities" *ngIf="cities.length === 0">
    <h4>Dodajte grad</h4>
  </div>
  <div class="main__cards">
    <app-card @show-hide [city]="city" *ngFor="let city of cities" class="main__card"></app-card>
  </div>
</div>
