<div class="sidebar">
  <div class="sidebar__navigation">
    <div class="sidebar__home">
      <a
        routerLink="/weather"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="hideSidebar()"
        matTooltip="Prikaži početni prikaz"
        matTooltipPosition="above"
        matTooltipClass="sunfeed__tooltip"
        >GLAVNI PRIKAZ</a
      >
    </div>
    <div class="sidebar__fav">
      <a
        routerLink="/weather/favorites"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="hideSidebar()"
        matTooltip="Prikaži omiljene gradove"
        matTooltipPosition="above"
        matTooltipClass="sunfeed__tooltip"
        >OMILJENI GRADOVI</a
      >
    </div>
    <div class="sidebar__cities">
      <div *ngFor="let city of getCities()" class="sidebar__city">
        <a
          [routerLink]="['/weather/' + city.name.toLowerCase()]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
          (click)="hideSidebar()"
          matTooltip="Prikaži grad"
          matTooltipPosition="above"
          matTooltipClass="sunfeed__tooltip"
        >
          {{ city.name | uppercase }}
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar__logout">
    <a
      (click)="logoutModalShow()"
      matTooltip="Odjavi se"
      matTooltipPosition="above"
      matTooltipClass="sunfeed__tooltip"
      >ODJAVA</a
    >
  </div>
  <div class="sidebar__creds">Izradio: Kristian Madžarević</div>
</div>
