@import "src/scss/variables";
@import "src/scss/mixins";

.sidebar {
  @include flex_centered(column);
  height: 100%;
  background-color: $light-grey;
  width: $sidebar-width;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 100vw;
  }

  a {
    user-select: none;
    text-decoration: none;
    color: $mustard;
    font-weight: bold;
    padding-left: 10px;
    &:hover {
      text-decoration: underline;
      color: rgba($mustard, 0.6);
    }
    &.active {
      pointer-events: none;
    }
  }
  .sidebar__navigation {
    max-width: 80%;

    /* Arrow pointing the position in navigation */
    a.active::before {
      position: absolute;
      left: -7px;
      font-size: 1.3rem;
      font-family: "Material Icons";
      content: "navigate_next";
    }
    .sidebar__home,
    .sidebar__fav,
    .sidebar__city {
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .sidebar__home {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
    .sidebar__fav {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
    .sidebar__cities {
      max-height: calc(10 * (1rem + 5px));
      overflow-y: auto;
      margin-bottom: 10px;
      .sidebar__city {
        color: $mustard;
        font-size: 1rem;
        line-height: 1;
        margin: 0 0 5px 15px;
        padding-right: 15px;
        a.active {
          pointer-events: all;
          &::before{
            top: -1px;
          }
        }
      }
    }
    @include scrollbar_style(
      ".sidebar__cities",
      $white,
      6px,
      rgba($mustard, 0.9),
      $mustard
    );
  }
  .sidebar__logout {
    position: absolute;
    bottom: 50px;
    margin-bottom: 10px;
    @media screen and (max-height: 620px) {
      position:initial;
    }
    a {
      user-select: none;
      cursor: pointer;
    }
  }
  .sidebar__creds {
    position: absolute;
    bottom: 25px;
    @media screen and (max-height: 620px) {
      position:initial;
    }
    color: $mustard;
  }
}
