@import 'src/scss/variables';
@import 'src/scss/mixins';

.login {
  @include flex_centered(column);
  input {
    color: #ffffff;
  }
  .login__title-box {
    margin-bottom: 35px;

    .login__title {
      color: $orange;
      margin-bottom: 0;
      line-height: 2rem;
    }

    .login__subtitle {
      margin: 0;
      margin-top: 5px;
      line-height: 1.2rem;
      color: $orange;
    }
  }
  form {
    width: 100%;
    max-width: 250px;
    .login__input {
      margin-bottom: 20px;
      mat-form-field {
        width: 100%;
      }
    }
    .login__submit {
      text-align: center;
      button {
        width: 100%;
        max-width: 150px;
      }
    }
  }

}
