<div class="base">
  <header class="header" id="header">
    <div class="header__logo">
      <img src="assets/images/logo.webp" alt="" />
    </div>
    <div class="header__burger">
      <mat-icon
        color="primary"
        (click)="sidebarShown = !sidebarShown"
        *ngIf="!sidebarShown"
        matTooltip="Prikaži navigaciju"
        matTooltipPosition="below"
        matTooltipClass="sunfeed__tooltip"
        >menu</mat-icon
      >
      <mat-icon
        color="primary"
        (click)="sidebarShown = !sidebarShown"
        *ngIf="sidebarShown"
        matTooltip="Sakrij navigaciju"
        matTooltipPosition="below"
        matTooltipClass="sunfeed__tooltip"
        >menu_open</mat-icon
      >
    </div>
  </header>
  <div class="base__content">
    <div
      class="base__sidebar"
      [ngClass]="{ 'base__sidebar--shown': sidebarShown }"
    >
      <app-sidebar (hide)="sidebarShown = false"></app-sidebar>
    </div>

    <div class="base__router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
