@import "src/scss/variables";
@import "src/scss/mixins";

.base {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .header {
    height: $header-height;
    background: $dark-grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    .header__logo {
      img {
        max-height: $header-height;
        padding: 5px;
      }
    }
    .header__burger {
      display: flex;
    }
  }

  .base__content {
    height: calc(100% - #{$header-height});
    width: 100%;
    box-sizing: border-box;
    display: flex;
  }

  .base__sidebar {
    @include transition;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      height: calc(100vh - #{$header-height});
      position: absolute;
      width: 0%;
      &--shown {
        width: 100%;
      }
    }
  }

  .base__router {
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    overflow: auto;
    width: calc(100% - #{$sidebar-width});

    @media only screen and (min-width: 577px) {
      padding-right: 5px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
