@import "src/scss/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, FontAwesome, sans-serif;
  box-sizing: border-box;
}

