@import "src/scss/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-primary {
  color: $orange;
}

.mat-accent {
  color: $blue;
}
