$orange: #f2b103;
$light_orange: #ffc21c;
$dark_orange: #a67a01;
$blue: #11a6d8;
$light_blue: #0fb9f2;
$dark_blue: #1281a6;

$green: #1bf2b2;
$grey: #ababab;
$red: #f20f49;
$white: #ffffff;
$dark-grey: #393e46;
$light-grey: #6a6d73;

$small: 30px;
$medium: 36px;
$large: 42px;

.mat-primary {
  color: $orange;
}

.mat-accent {
  color: $blue;
}
