$light_orange: #ffc107;
$orange: #ffb305;
$dark_orange: #ff9e02;
$light_blue: #29b6f6;
$blue: #1fa6f3;
$dark_blue: #0f8eef;
$light-red: #f20f49;
$red: #ee0b39;
$dark-red: #e80421;

$green: #1bf2b2;
$grey: #ababab;
$white: #ffffff;
$dark-grey: #393e46;
$light-grey: #6a6d73;

$small: 30px;
$medium: 36px;
$large: 42px;
