$my-blue: (
    50 : #e5f6fe,
    100 : #bfe9fc,
    200 : #94dbfb,
    300 : #69ccf9,
    400 : #49c1f7,
    500 : #29b6f6,
    600 : #24aff5,
    700 : #1fa6f3,
    800 : #199ef2,
    900 : #0f8eef,
    A100 : #ffffff,
    A200 : #e8f4ff,
    A400 : #b5dcff,
    A700 : #9cd1ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
